{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "syntax-dynamic-import"
    ],
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "assets": "./src/assets",
          "components": "./src/components",
          "pages": "./src/pages",
          "data": "./src/data",
          "lib": "./src/lib"
        }
      }
    ]
  ]
}
