/* App css */

.Image-section {
  background-image: url('../images/background/bglanding.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  max-width: 100%;
}

.Jumbotron {
  padding-top: 2rem;
  height: 350px;
  background-image: url('../images/background/bgstories.jpg');
  background-size: cover;
  overflow: hidden;
}
.list-ic li {
  position: relative;
}
.list-ic li span {
  display: inline-block;
  font-weight: 800;
  width: 1em;
  height: 1em;
  text-align: center;
  line-height: 3em;
  border-radius: 50%;
  background: #18bc9c;
  position: relative;
}
.list-ic li::before {
  content: '';
  position: absolute;
  background: rgba(192, 192, 192, 0.9);
}
.list-ic.vertical {
  padding: 0;
  margin: 0;
}
.list-ic.vertical li {
  list-style-type: none;
  text-align: left;
}
.list-ic.vertical li::before {
  top: -25px;
  left: 31px;
  width: 0.1em;
  height: 10em;
  visibility: visible;
}

.card {
  position: relative;
  background: white;
  margin-left: 30px;
  margin-left: 3rem;
  height: 6.5rem;
  width: 28rem;
  border-radius: none;
  border: 1px solid black;
}
.card:after,
.card:before {
  content: '';
  position: absolute;
  right: 100%;
  top: 50%;
  width: 0;
  height: 0;
}
.card:after {
  border-top: 20px solid transparent;
  border-right: 20px solid white;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  margin-top: -20px;
}
.card:before {
  border-top: 21px solid transparent;
  border-right: 21px solid black;
  border-bottom: 21px solid transparent;
  border-left: 21px solid transparent;
  margin-top: -21px;
}

.Email-input input {
  width: 100%;
  background-color: #fff;
  border: 1px solid #fff;
  text-align: center;
  height: 3rem;
  font-size: 15px;
}

.Slider {
  display: flex;
  width: 100%;
  overflow: hidden;
  padding-left: 10rem;
}
.Slides {
  border-radius: 5px;
  margin: 0.5rem;
  scroll-behavior: smooth;

  -webkit-overflow-scrolling: touch;
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
}
.Slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.Slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.Slides::-webkit-scrollbar-track {
  background: grey;
}
.Slides > Card {
  position: relative;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
}

@supports (scroll-snap-type) {
  .Slider > a {
    display: none;
  }
}
