/* App css */

.Image-section {
  background-image: url('../images/background/bglanding.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  max-width: 100%;
}

.Jumbotron {
  padding-top: 2rem;
  height: 350px;
  background-image: url('../images/background/bgstories.jpg');
  background-size: cover;
  overflow: hidden;
}
.list-ic li {
  position: relative;
}
.list-ic li span {
  display: inline-block;
  font-weight: 800;
  width: 1em;
  height: 1em;
  text-align: center;
  line-height: 3em;
  border-radius: 50%;
  background: #18bc9c;
  position: relative;
}
.list-ic li::before {
  content: '';
  position: absolute;
  background: rgba(192, 192, 192, 0.9);
}
.list-ic.vertical {
  padding: 0;
  margin: 0;
}
.list-ic.vertical li {
  list-style-type: none;
  text-align: left;
}
.list-ic.vertical li::before {
  top: -25px;
  left: 31px;
  width: 0.1em;
  height: 10em;
  visibility: visible;
}

.card {
  position: relative;
  background: white;
  margin-left: 30px;
  margin-left: 3rem;
  height: 6.5rem;
  width: 28rem;
  border-radius: none;
  border: 1px solid black;
}
.card:after,
.card:before {
  content: '';
  position: absolute;
  right: 100%;
  top: 50%;
  width: 0;
  height: 0;
}
.card:after {
  border-top: 20px solid transparent;
  border-right: 20px solid white;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  margin-top: -20px;
}
.card:before {
  border-top: 21px solid transparent;
  border-right: 21px solid black;
  border-bottom: 21px solid transparent;
  border-left: 21px solid transparent;
  margin-top: -21px;
}

.Email-footerInput input {
  width: 100%;
  background-color: #fff;
  border: 1px solid #fff;
  text-align: center;
  height: 3rem;
  font-size: 15px;
}
