html {
  padding: 0;
  margin: 0;
  min-height: 100%;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  background-color: white;
  /**overflow-x: hidden;**/
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Montserrat', sans-serif;
}
