@import url('https://fonts.googleapis.com/css?family=Anton');

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900');

html {
  min-height: 100%;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  display: inline-block;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Montserrat', sans-serif;
}
