.Image-section {
    color: #F3F3F3;
    background-image:url('../src/assets/landing/bgimage.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    height:100vh;
    max-width:100%;
}
