 @import url('https://fonts.googleapis.com/css?family=Montserrat');
html{
height:100%;
}

body{
    position:absolute;
    display:inline-block;
    box-sizing:border-box;
    margin:0px;
    height:100vh;
    min-width:100%;
    width:auto;
}


img {
    max-width:100%;
    height:auto;

}

section{
    width: 100%;
    height:auto;
}